<%- include('../../partials/header.ejs')  %> 
<body>
    <%- include('../../partials/navbar.ejs')  %> 
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header text-center">
                <h2>Editar artigo</h2>
            </div>
            <div class="card-body">
                <form action="/articles/update" method="POST">
                    <input type="hidden" value="<%= article.id %>" name="id">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo" autocomplete="off" value="<%= article.title %>">
                    <br>
                    <textarea class="form-control" placeholder="Descreva o artigo" name="body" id="article"></textarea>
                    <br>
                    <label for="">Categoria</label>
                    <select name="categoryId" class="form-control">
                        <% categories.forEach(category => { %>

                            <% if (category.id == article.categoryId) { %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>  
                            <% } else { %>
                                <option value="<%= category.id %>"><%= category.title %></option>  
                            <% } %>
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-success">Atualizar</button>
                </form>    
            </div>
        </div>
    </div>

    <div id="conteudo" style="display: none;">
        <%- article.body %> 
    </div>
</body>
<%- include('../../partials/footer.ejs')  %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback:()=>{
            tinymce.get('article').setContent($('#conteudo').html())            
        }
    })
</script>