<%- include('../../partials/header.ejs')  %> 
<body>
    <%- include('../../partials/navbar.ejs')  %> 
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header text-center">
                <h2>Novo artigo</h2>
            </div>
            <div class="card-body">
                <form action="/articles/save" method="POST">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título da artigo" autocomplete="off">
                    <br>
                    <textarea class="form-control" placeholder="Descreva o artigo" name="body" id="article"></textarea>
                    <br>
                    <label for="">Categoria</label>
                    <select name="categoryId" class="form-control">
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>  
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>    
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs')  %> 

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>