<%- include('../../partials/header.ejs')  %> 
<body>
    <%- include('../../partials/navbar.ejs')  %> 
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header text-center">
                <h2>Edição de categoria</h2>
            </div>
            <div class="card-body">
                <form action="/categories/update" method="POST">
                    <input type="hidden" name="id" value="<%= categoria.id %>">
                    <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria" autocomplete="off" value="<%= categoria.title %>">
                    <br>
                    <button class="btn btn-success">Atualizar</button>
                </form>    
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs')  %> 